<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h2 style="margin-bottom: 30px">Reset your password</h2>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="alert alert-success" role="alert" *ngIf="successMessage">
    {{successMessage}}
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form *ngIf="!isLoading" #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
    <div class="row">
      <div class="input-group">
        <label for="email">Insert your email address</label>
        <input
          pInputText
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
        />
    </div>
    <div class="alert-box-actions" style="margin-top: 30px">
      <p-button type="submit" [disabled]="!resetForm.valid">{{isLoading ? 'Loading...' : 'Reset'}}</p-button>
      <p-button type="button" (onClick)="onClose()">Close</p-button>
    </div>
    </div>
  </form>
</div>
