.fullContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.not-found {
  font-size: 30px;
  margin-top: 30px;
}

.offersContainer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.cardContainer {
  width: 80vw;
  min-height: 150px;
  padding: 10px;
  background-color: white;
  /* border: 1px solid rgb(219, 219, 219); */
  box-shadow: 0px 4px 8px 0px rgba(32, 32, 32, 0.08);
  border-radius: 2px;
  display: flex;
}

.imageCont {
  overflow: hidden;
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  align-items: space-between;
  margin-left: 10px;
}

.offerName {
  font-weight: bold;
  font-size: 20px;
}

.offerPrice {
  font-size: 20px;
}

.fRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.priceCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.negotiate {
  font-size: 13px;
  color: #666666;
}

.location {
  margin-top: auto;
}
