<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="fullContainer">
  <p-messages
    [(value)]="messages"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
  <div class="searchbarContainer">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" />
    </span>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-search"
      class="p-button-rounded p-button-success"
    ></button>
  </div>
  <div class="offersContainer">
    <p class="not-found" *ngIf="!isLoading && !loadedOffers">No offers found</p>
    <div
      *ngFor="let offer of loadedOffers"
      class="cardContainer"
      [routerLink]="['/offers', offer.id]"
    >
      <img src="../../assets/no-photo.jpg" alt="no-photo" class="imageCont" />
      <div class="infoContainer">
        <div class="fRow">
          <span class="offerName">{{ offer.name | titlecase }}</span>
          <div class="priceCont">
            <span class="offerPrice">{{ offer.price }}$</span>
            <span class="negotiate" *ngIf="offer.negotiate">Negotiable</span>
          </div>
        </div>
        <span class="location"
          >{{ offer.location.city | titlecase }},
          {{ offer.location.country | titlecase }}</span
        >
      </div>
    </div>
  </div>
</div>
