<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="true"
></p-messages>
<div class="fullCont">
  <h1>My active offers</h1>
  <p *ngIf="!hasActiveOffers">No active offers found</p>
  <ng-container *ngFor="let offer of userOffers">
    <div class="offerCard" *ngIf="offer.status === 'new'">
      <img src="{{ offer.photo }}" alt="offer image" class="image" />
      <h3>{{ offer.name }}</h3>
      <div class="endContainer">
        <div class="buttonContainer">
          <button
            pButton
            icon="pi pi-eye"
            (click)="showOffer(offer.id)"
          ></button>
          <button
            pButton
            icon="pi pi-chart-line"
            (click)="showOfferNegotiations(offer.id)"
          ></button>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning"
            (click)="editOffer(offer.id)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteOffer(offer.id)"
          ></button>
        </div>
        <span class="viewsCont">
          <span><i class="pi pi-fw pi-eye"></i>{{ offer.offerViews }}</span>
          <span><i class="pi pi-fw pi-phone"></i>{{ offer.numberViews }}</span>
        </span>
      </div>
    </div>
  </ng-container>
  <h1>Finished offers</h1>
  <p *ngIf="!hasFinishedOffers">No finished offers found</p>
  <ng-container *ngFor="let offer of userOffers">
    <div class="offerCard" *ngIf="offer.status === 'finished'">
      <img src="{{ offer.photo }}" alt="offer image" class="image" />
      <h3>{{ offer.name }}</h3>
      <div class="endContainer">
        <div class="buttonContainer">
          <button
            pButton
            icon="pi pi-eye"
            (click)="showOffer(offer.id)"
          ></button>
        </div>
        <span class="viewsCont">
          <span><i class="pi pi-fw pi-eye"></i>{{ offer.offerViews }}</span>
          <span><i class="pi pi-fw pi-phone"></i>{{ offer.numberViews }}</span>
        </span>
      </div>
    </div>
  </ng-container>
</div>
