<app-register-modal (close)="isLogin = true" *ngIf="!isLogin"></app-register-modal>
<app-forgot-password-modal (close)="isReset = false" *ngIf="isReset"></app-forgot-password-modal>
<div class="row justify-content-center">
  <div class="col-7">
  <h1 style="margin-top: 5%; margin-bottom: 20px">Sign in!</h1>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 15px">{{isLoading ? 'Loading...' : 'Sign in'}}</button>
          <p class="switch" (click)="isLogin = !isLogin">No account? Create a new account!</p>
          <p class="switch" (click)="isReset = !isReset">Forgot password? Reset here!</p>
      </form>
    </div>
  </div>
