.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.switch {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#email {
  width: 300px;
}
