form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p-button {
  margin-left: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
