<h1>Change your password</h1>
<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="true"
></p-messages>
<form [formGroup]="form" (ngSubmit)="changePasswordHandler()">
  <div class="row">
    <div class="input-group">
      <label for="oldPassword">Old password</label>
      <input
        pInputText
        type="password"
        id="oldPassword"
        formControlName="oldPassword"
      />
    </div>
  </div>
  <div class="row">
    <div class="input-group">
      <label for="password">New password</label>
      <input
        pInputText
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="row">
    <div class="input-group">
      <label for="confirmPassword">Confirm new password</label>
      <input
        pInputText
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
    </div>
  </div>
  <p-button type="submit" [disabled]="form.invalid">Submit</p-button>
</form>
