<app-modal *ngIf="isModalShowed" (close)="closeModal()">
  <ng-container *ngIf="modalMode === 'address'"
    ><app-new-address-modal (close)="closeModal()"></app-new-address-modal>
  </ng-container>
  <ng-container *ngIf="modalMode === 'email'">
    <app-change-email-modal (close)="closeModal()"></app-change-email-modal>
  </ng-container>
  <ng-container *ngIf="modalMode === 'password'">
    <app-change-password-modal
      (close)="closeModal()"
    ></app-change-password-modal>
  </ng-container>
</app-modal>

<div class="fullContainer" *ngIf="user">
  <p-messages
    [(value)]="messages"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
  <h1>Profile settings</h1>
  <p>
    Full Name:
    <span>{{ user.firstName }} {{ user.lastName }}</span>
  </p>
  <p>
    Email address: <span>{{ user.email }}</span>
    <span (click)="openModal('email')"
      ><i class="pi pi-pencil" style="margin-left: 10px"></i
    ></span>
  </p>
  <p>
    Password: <span>********</span
    ><span style="margin-left: 10px" (click)="openModal('password')"
      ><i class="pi pi-pencil"></i
    ></span>
  </p>

  <p>Saved addresses</p>
  <div class="savedAddressesContainer">
    <div class="addressAddItem" (click)="openModal('address')">
      <span>Add new address</span
      ><i class="pi pi-plus" style="font-size: 1.5rem"></i>
    </div>
    <div class="addressItem" *ngFor="let address of userAddresses">
      <span
        style="margin-left: auto"
        (click)="deleteAddressHandler(address._id)"
        ><i class="pi pi-trash"></i
      ></span>
      <span>{{ address.recieverFullName | titlecase }}</span>
      <span>{{ address.street | titlecase }} {{ address.houseNumber }}</span>
      <span>{{ address.postalCode }}</span>
      <span
        >{{ address.city | titlecase }}, {{ address.country | titlecase }}</span
      >
    </div>
  </div>
</div>
