.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 100;
  background-color: white;
}

.p-menubar .p-menubar-list .p-menuitem:last-child {
  color: blue;
  width: 100%;
}

::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
