<p-toast key="toast3"></p-toast>
<p-menubar [model]="items" *ngIf="menuChanged" styleClass="menucus">
  <ng-template pTemplate="start">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng.svg"
      height="40"
      class="mr-2"
      routerLink="/home"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="walletCont" (click)="paymentHandler()" *ngIf="isAuthenticated">
      <span>Balance: {{ credits }}$</span>
      <i class="pi pi-wallet"></i>
    </div>
  </ng-template>
</p-menubar>
