.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .p-menubar .p-menubar-list {
  width: 100%;
}

.p-menubar .p-menubar-list .p-menuitem {
  color: blue;
  margin-left: auto;
}

.gapp {
  margin-right: auto;
}

::ng-deep p-menubarsub{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
} */
