.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 100;
  background-color: white;
}

::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
