<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <h1 style="margin-top: 5%; margin-bottom: 20px">Reset your password!</h1>
      <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="true"
      ></p-messages>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="input-group">
          <label for="password">Insert your new password</label>
          <input
            pInputText
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div class="input-group">
          <label for="confirmpassword">Confirm your new password</label>
          <input
            pInputText
            type="password"
            id="confirmpassword"
            class="form-control"
            ngModel
            name="confirmpassword"
            required
            minlength="6"
          />
        </div>
        <p-button type="submit"> Reset</p-button>
      </form>
    </div>
  </div>
</div>
